.box {
  position: relative;
  height: 500px;
  margin-top: 10px;
  overflow: hidden;
  width: 500px;
  margin: auto;
  > nav {
    display: flex;
    align-items: center;
    column-gap: 30px;
    color: #333;
    height: 50px;
    justify-content: center;
  }
  .detail {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px 0 10px 0;
    flex: 1;
    min-height: 0;
    max-height: 300px;
    overflow-y: auto;

    &::-webkit-scrollbar-thumb {
      background-image: linear-gradient(0, orange, orangered);
    }
  }
  .nav-item {
    cursor: pointer;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: skyblue;
    &.active {
      background-color: rosybrown;
    }
  }
}
